* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: karla;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* ให้ Navbar อยู่ข้างหน้า*/
}

.navbar {
    padding: 2rem 0rem;
    background-color: #9ab9f7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.10);

}

.logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
    color: #fff;
    list-style: none;
}

.menu li {
    margin: 0 1rem;
}

.menu a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    margin: 2rem;
}

.container {
    /* max-width: 1600px; */
    overflow: hidden;
    position: relative;
    margin: 0rem auto;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    background-color: #F9F6E5;
}

.container h3,h2{
    font-size: 80px;
    color: #272727;
    font-family: 'Horizon', sans-serif;
}


.banner {
    background-color: #F9F6E5;
    padding: 7rem 0rem 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    justify-content: center;
}

.banner-text {
    margin: 3rem 5rem;
}

.banner-text h3,
h2 {
    font-family: "Mitr", sans-serif;
    font-size: 110px;
    font-weight: bolder;
}

.banner-text h2 {
    color: #333;
    margin-bottom: -4rem;
}

.banner-text h3 {
    font-style: normal;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #F9F6E5;

}

.banner-text p {
    font-size: 30px;
    font-weight: lighter;
    color: #F48461;
}

.banner-img img {
    border-radius: 100%;
    width: 700px;
    margin: 3rem 0 0 10rem;
}

main {
    background-color: rgb(222, 242, 255);
    height: 800px;
    padding: 2rem;

}

.edu {
    color: #3f3f3f;
  
  
 
}

.edu-con{
    display: grid;
    grid-template-columns: repeat(1,8fr);
    justify-items: center;
    row-gap: 3rem;
}

.edu h3 {
    text-align: center;
    padding: 3rem;
}

.edu-info {
    display: flex;
    justify-content: center;
}

.line {
    background: #3f3f3f;
    margin-bottom: 2px;
    width: 351px;
    height: 1px;
}
.line-ver {
    background: #991e1e;
    margin-bottom: 2px;
    width: 2px;
    height: 100px;
  justify-content: left;

}

.edu-text {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    align-content: space-around;
}

.skill  {
    text-align: center;
}
.skill-img {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    align-items: center;
    row-gap: 1rem;
    padding-top: 2rem;
}
.skill-img img{
width: 80px;
}

.skill p {
    /* position: absolute;
    z-index: 20; */

    color: #fff;
    font-family: 'gobold_hollow';
}

.rectangle-8 {
    position: absolute;
    z-index: 10;
    left: -236px;
    top: 1800px;
    width: 2300px;
}

.topic2 {
    background-color: #48404d;
    height: 1000px;
}

.topic2 h3 {
    font-size: 100px;
    position: absolute;
    z-index: 20;
    top: 1700px;
    padding: 2rem 5rem;
}

.topic2 p {
    position: absolute;
    z-index: 20;
    top: 1850px;
    padding: 2rem;
}