* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: karla;
}

nav {

    padding: 1rem 0rem;

}

.navbar {
    padding: 1rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.logo a {
    color: #989292;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
    color: #fff;
    list-style: none;
}

.menu li {
    margin: 0 1rem;
}

.menu a {
    color: #989292;
    font-size: 20px;
    text-decoration: none;
    margin: 2rem;
}

.container {
    max-width: 1600px;
    overflow: hidden;
    position: relative;
    margin: 0rem auto;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    background-color: #fff;
}


.banner{
    background-color:#e6b5b8;
    padding: 2rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
}

.banner-text{
    font-size: 64px;
    /* align-content: center; */
    margin-left: 2rem;
}

.banner-img img{
    border-radius: 100%;
    width: 500px;
    margin-left: 10rem;
}

.info{
background-color: #48404d;
height: 700px;
}