* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: karla;

}

body {
    background-color: rgba(226, 216, 204, 255);
}

.container {
    max-width: 1600px;
    /* height: 5000px; */
    overflow: hidden;
    position: relative;
    margin: 0rem auto;
    justify-content: center;
    align-items: center;
    padding: 6rem 1rem;

}

.container h2 {
    font-family: 'Pinyon Script';
    text-align: center;
    font-size: 4rem;
    padding: 3rem 0;
}

.container p {
    font-size: 20px;
}



.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    column-gap: 5rem;
    row-gap: 3rem;
    width: 70rem;
    padding: 0 10rem;
}

.certificate img {
    max-width: 600px;
}

.certificate p {
    margin: 1rem 0;
    font-weight: bold;
    text-align: center;
}