* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'karla';
}

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Pinyon+Script&display=swap');


html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #201f20;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.10);
    background: transparent;
    transition: background-color 0.5s ease;
}

.navbar.scrolled {
    background-color: #252525;
    z-index: 5;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    margin: 0 1rem;
}

.menu a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin: 2rem;
    font-family: Mitr;
}

.container {
    max-width: 1600px;
    /* height: 5000px; */
    overflow: hidden;
    position: relative;
    margin: 0rem auto;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

}

.container h2 {
    font-size: 2rem;
}

.container p {
    font-size: 20px;
}

.container-profile {
    height: 60rem;
    padding: 10rem 0;
}

.profile {
    position: absolute;
    left: 15rem;
    height: 20rem;
    width: 70%;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.profile:hover {
    transform: rotateY(180deg);
}

.profile-card-front {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10rem 0; */
}

.profile-card-back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5.5rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    /* padding: 10rem 0; */
}

.leyers img {
    width: 20rem;
    position: absolute;
    bottom: 15rem;
    left: 5rem;
    z-index: 10;
}

.about-text-pp .proflie-head {
    color: #ee1c43;
    font-size: 1.5rem;
}

.about-text-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.about-text-info{
    padding: 0 0 1rem 0;
}

.about-text-pp {
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem 0;
}

.about-front {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding: 3rem;
    background-color: #f9f5ee;
    border-radius: 12px;
    width: 80%;
    height: 30rem;
}

.about-back {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 18rem;
    background-color: #f9f5ee;
    border-radius: 12px;
    width: 95%;
    height: 30rem;
}

.about-text {
    /* padding: 2rem 0; */
    width: 90%;
}

.about-text h1 {
    font-size: 7rem;
    font-family: Pinyon Script;
    font-weight: 200;
    color: #fa212c;
}

.about-text p {
    color: #323232;
    font-size: 1.5rem;
}

.about-img img {
    width: 100%;
}

.project {
    display: grid;
    grid-template-columns: repeat(1,2fr);
    margin-top: 10rem;
    height: 100%;
}

.project-text h2{
    font-size: 5rem;
    text-align: center;
    padding: 0 0 3rem 0;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
    column-gap: 2rem;
    height: 100%;
}

.project-block-img {
    width: 29rem;
    height: 17rem;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.project-block-img:hover{
    transform: translateY(-10px);
}

.project-block-text {
    text-align: center;
    padding: 1rem 0;
}

.project-block-text p{
    color: #f9f5ee;
    font-size: 1rem;
    padding: 1rem 0;
}

.project-block-text h1{
    color: #b3242d;
    font-size: 2rem;
}






/* 

.project-img img {
    width: 100%;
}

.topic-btt {
    padding-top: 2rem;
}

.topic-btt a {
    text-decoration: none;
    color: #a04848;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 50px;
    border: 1px solid #a04848;
    padding: 10px;
} */

.line{
    margin: 10rem 0;
    /* margin: 5rem 0 10rem 0; */
}

.activity {
    padding: 2rem;
    margin-top: 10rem;
    /* background-color: #433f4b; */
    /* height: 1000px; */
}



footer {
    display: flex;
    background-color: #252525;
    box-shadow: 0.2rem 0 0.2rem rgba(0, 0, 0, 0.10);
    /* height: 200px; */
    justify-content: center;
    align-items: center;
}

.contact {
    justify-items: center;
    padding: 2rem;
}

.social-icon i {
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.social-icon a {
    border: 0.1rem solid #fff;
    border-radius: 100%;
    font-size: 2rem;
    padding: 2px 0;
    margin: 1rem;
}

.social-icon a:hover {
    background-color: crimson;

}

.social-icon i:hover {
    color: #fff;
}