* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'karla';
}

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Pinyon+Script&display=swap');


html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #13131f;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: background-color 0.5s ease;
}

.navbar.scrolled {
    background-color: #252525;
    z-index: 5;
}

.logo li{
    list-style: none;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    list-style: none;
    margin: 0 1rem;
}

.menu a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin: 2rem;
    font-family: Mitr;
}

.container {
    max-width: 1600px;
    /* height: 5000px; */
    overflow: hidden;
    position: relative;
    margin: 0rem auto;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

}

.container h2 {
    font-size: 2rem;
}

.container p {
    font-size: 20px;
}

.header {
    position: relative;
    /* justify-content: center; */
    align-items: center;
    background-color: #493157;
    width: 100%;
    padding: 5rem ;
}

.header h1 {
    font-size: 15rem;
    font-weight: bolder;
    color: #fff;
}

.project {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    margin-top: 10rem;
    height: 100%;
}

.project-text h2 {
    font-size: 5rem;
    text-align: center;
    padding: 0 0 3rem 0;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    column-gap: 2rem;
    height: 100%;
}

.project-block-img {
    width: 29rem;
    height: 17rem;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.project-block-img:hover {
    transform: translateY(-10px);
}

.project-block-text {
    text-align: center;
    padding: 1rem 0;
}

.project-block-text p {
    color: #f9f5ee;
    font-size: 1rem;
    padding: 1rem 0;
}

.project-block-text h1 {
    color: #b3242d;
    font-size: 2rem;
}






/* 

.project-img img {
    width: 100%;
}

.topic-btt {
    padding-top: 2rem;
}

.topic-btt a {
    text-decoration: none;
    color: #a04848;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 50px;
    border: 1px solid #a04848;
    padding: 10px;
} */

.line {
    margin: 10rem 0;
    /* margin: 5rem 0 10rem 0; */
}

.activity {
    padding: 2rem;
    margin-top: 10rem;
    /* background-color: #433f4b; */
    /* height: 1000px; */
}



footer {
    display: flex;
    background-color: #252525;
    box-shadow: 0.2rem 0 0.2rem rgba(0, 0, 0, 0.10);
    /* height: 200px; */
    justify-content: center;
    align-items: center;
}

.contact {
    justify-items: center;
    padding: 2rem;
}

.social-icon i {
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.social-icon a {
    border: 0.1rem solid #fff;
    border-radius: 100%;
    font-size: 2rem;
    padding: 2px 0;
    margin: 1rem;
}

.social-icon a:hover {
    background-color: crimson;

}

.social-icon i:hover {
    color: #fff;
}